.bg-collectible{
    width: 64px;
    height: 64px;
    background-image: url('https://lucas.cool/taintedcain/css_sprites-min.png'); /* TODO relative path with vue cli... */
}
.bg-collectibles_1 {
   background-position: -10px -10px;
}
.bg-collectibles_2 {
   background-position: -94px -10px;
}
.bg-collectibles_3 {
   background-position: -10px -94px;
}
.bg-collectibles_4 {
   background-position: -94px -94px;
}
.bg-collectibles_5 {
   background-position: -178px -10px;
}
.bg-collectibles_6 {
   background-position: -178px -94px;
}
.bg-collectibles_7 {
   background-position: -10px -178px;
}
.bg-collectibles_8 {
   background-position: -94px -178px;
}
.bg-collectibles_9 {
   background-position: -178px -178px;
}
.bg-collectibles_10 {
   background-position: -262px -10px;
}
.bg-collectibles_11 {
   background-position: -262px -94px;
}
.bg-collectibles_12 {
   background-position: -262px -178px;
}
.bg-collectibles_13 {
   background-position: -10px -262px;
}
.bg-collectibles_14 {
   background-position: -94px -262px;
}
.bg-collectibles_15 {
   background-position: -178px -262px;
}
.bg-collectibles_16 {
   background-position: -262px -262px;
}
.bg-collectibles_17 {
   background-position: -346px -10px;
}
.bg-collectibles_18 {
   background-position: -346px -94px;
}
.bg-collectibles_19 {
   background-position: -346px -178px;
}
.bg-collectibles_20 {
   background-position: -346px -262px;
}
.bg-collectibles_21 {
   background-position: -10px -346px;
}
.bg-collectibles_22 {
   background-position: -94px -346px;
}
.bg-collectibles_23 {
   background-position: -178px -346px;
}
.bg-collectibles_24 {
   background-position: -262px -346px;
}
.bg-collectibles_25 {
   background-position: -346px -346px;
}
.bg-collectibles_26 {
   background-position: -430px -10px;
}
.bg-collectibles_27 {
   background-position: -430px -94px;
}
.bg-collectibles_28 {
   background-position: -430px -178px;
}
.bg-collectibles_29 {
   background-position: -430px -262px;
}
.bg-collectibles_30 {
   background-position: -430px -346px;
}
.bg-collectibles_31 {
   background-position: -10px -430px;
}
.bg-collectibles_32 {
   background-position: -94px -430px;
}
.bg-collectibles_33 {
   background-position: -178px -430px;
}
.bg-collectibles_34 {
   background-position: -262px -430px;
}
.bg-collectibles_35 {
   background-position: -346px -430px;
}
.bg-collectibles_36 {
   background-position: -430px -430px;
}
.bg-collectibles_37 {
   background-position: -514px -10px;
}
.bg-collectibles_38 {
   background-position: -514px -94px;
}
.bg-collectibles_39 {
   background-position: -514px -178px;
}
.bg-collectibles_40 {
   background-position: -514px -262px;
}
.bg-collectibles_41 {
   background-position: -514px -346px;
}
.bg-collectibles_42 {
   background-position: -514px -430px;
}
.bg-collectibles_44 {
   background-position: -10px -514px;
}
.bg-collectibles_45 {
   background-position: -94px -514px;
}
.bg-collectibles_46 {
   background-position: -178px -514px;
}
.bg-collectibles_47 {
   background-position: -262px -514px;
}
.bg-collectibles_48 {
   background-position: -346px -514px;
}
.bg-collectibles_49 {
   background-position: -430px -514px;
}
.bg-collectibles_50 {
   background-position: -514px -514px;
}
.bg-collectibles_51 {
   background-position: -598px -10px;
}
.bg-collectibles_52 {
   background-position: -598px -94px;
}
.bg-collectibles_53 {
   background-position: -598px -178px;
}
.bg-collectibles_54 {
   background-position: -598px -262px;
}
.bg-collectibles_55 {
   background-position: -598px -346px;
}
.bg-collectibles_56 {
   background-position: -598px -430px;
}
.bg-collectibles_57 {
   background-position: -598px -514px;
}
.bg-collectibles_58 {
   background-position: -10px -598px;
}
.bg-collectibles_60 {
   background-position: -94px -598px;
}
.bg-collectibles_62 {
   background-position: -178px -598px;
}
.bg-collectibles_63 {
   background-position: -262px -598px;
}
.bg-collectibles_64 {
   background-position: -346px -598px;
}
.bg-collectibles_65 {
   background-position: -430px -598px;
}
.bg-collectibles_66 {
   background-position: -514px -598px;
}
.bg-collectibles_67 {
   background-position: -598px -598px;
}
.bg-collectibles_68 {
   background-position: -682px -10px;
}
.bg-collectibles_69 {
   background-position: -682px -94px;
}
.bg-collectibles_70 {
   background-position: -682px -178px;
}
.bg-collectibles_71 {
   background-position: -682px -262px;
}
.bg-collectibles_72 {
   background-position: -682px -346px;
}
.bg-collectibles_73 {
   background-position: -682px -430px;
}
.bg-collectibles_74 {
   background-position: -682px -514px;
}
.bg-collectibles_75 {
   background-position: -682px -598px;
}
.bg-collectibles_76 {
   background-position: -10px -682px;
}
.bg-collectibles_77 {
   background-position: -94px -682px;
}
.bg-collectibles_78 {
   background-position: -178px -682px;
}
.bg-collectibles_79 {
   background-position: -262px -682px;
}
.bg-collectibles_80 {
   background-position: -346px -682px;
}
.bg-collectibles_81 {
   background-position: -430px -682px;
}
.bg-collectibles_82 {
   background-position: -514px -682px;
}
.bg-collectibles_83 {
   background-position: -598px -682px;
}
.bg-collectibles_84 {
   background-position: -682px -682px;
}
.bg-collectibles_85 {
   background-position: -766px -10px;
}
.bg-collectibles_86 {
   background-position: -766px -94px;
}
.bg-collectibles_87 {
   background-position: -766px -178px;
}
.bg-collectibles_88 {
   background-position: -766px -262px;
}
.bg-collectibles_89 {
   background-position: -766px -346px;
}
.bg-collectibles_90 {
   background-position: -766px -430px;
}
.bg-collectibles_91 {
   background-position: -766px -514px;
}
.bg-collectibles_92 {
   background-position: -766px -598px;
}
.bg-collectibles_93 {
   background-position: -766px -682px;
}
.bg-collectibles_94 {
   background-position: -10px -766px;
}
.bg-collectibles_95 {
   background-position: -94px -766px;
}
.bg-collectibles_96 {
   background-position: -178px -766px;
}
.bg-collectibles_97 {
   background-position: -262px -766px;
}
.bg-collectibles_98 {
   background-position: -346px -766px;
}
.bg-collectibles_99 {
   background-position: -430px -766px;
}
.bg-collectibles_100 {
   background-position: -514px -766px;
}
.bg-collectibles_101 {
   background-position: -598px -766px;
}
.bg-collectibles_102 {
   background-position: -682px -766px;
}
.bg-collectibles_103 {
   background-position: -766px -766px;
}
.bg-collectibles_104 {
   background-position: -850px -10px;
}
.bg-collectibles_105 {
   background-position: -850px -94px;
}
.bg-collectibles_106 {
   background-position: -850px -178px;
}
.bg-collectibles_107 {
   background-position: -850px -262px;
}
.bg-collectibles_108 {
   background-position: -850px -346px;
}
.bg-collectibles_109 {
   background-position: -850px -430px;
}
.bg-collectibles_110 {
   background-position: -850px -514px;
}
.bg-collectibles_111 {
   background-position: -850px -598px;
}
.bg-collectibles_112 {
   background-position: -850px -682px;
}
.bg-collectibles_113 {
   background-position: -850px -766px;
}
.bg-collectibles_114 {
   background-position: -10px -850px;
}
.bg-collectibles_115 {
   background-position: -94px -850px;
}
.bg-collectibles_116 {
   background-position: -178px -850px;
}
.bg-collectibles_117 {
   background-position: -262px -850px;
}
.bg-collectibles_118 {
   background-position: -346px -850px;
}
.bg-collectibles_119 {
   background-position: -430px -850px;
}
.bg-collectibles_120 {
   background-position: -514px -850px;
}
.bg-collectibles_121 {
   background-position: -598px -850px;
}
.bg-collectibles_122 {
   background-position: -682px -850px;
}
.bg-collectibles_123 {
   background-position: -766px -850px;
}
.bg-collectibles_124 {
   background-position: -850px -850px;
}
.bg-collectibles_125 {
   background-position: -934px -10px;
}
.bg-collectibles_126 {
   background-position: -934px -94px;
}
.bg-collectibles_127 {
   background-position: -934px -178px;
}
.bg-collectibles_128 {
   background-position: -934px -262px;
}
.bg-collectibles_129 {
   background-position: -934px -346px;
}
.bg-collectibles_130 {
   background-position: -934px -430px;
}
.bg-collectibles_131 {
   background-position: -934px -514px;
}
.bg-collectibles_132 {
   background-position: -934px -598px;
}
.bg-collectibles_133 {
   background-position: -934px -682px;
}
.bg-collectibles_134 {
   background-position: -934px -766px;
}
.bg-collectibles_135 {
   background-position: -934px -850px;
}
.bg-collectibles_136 {
   background-position: -10px -934px;
}
.bg-collectibles_137 {
   background-position: -94px -934px;
}
.bg-collectibles_138 {
   background-position: -178px -934px;
}
.bg-collectibles_139 {
   background-position: -262px -934px;
}
.bg-collectibles_140 {
   background-position: -346px -934px;
}
.bg-collectibles_141 {
   background-position: -430px -934px;
}
.bg-collectibles_142 {
   background-position: -514px -934px;
}
.bg-collectibles_143 {
   background-position: -598px -934px;
}
.bg-collectibles_144 {
   background-position: -682px -934px;
}
.bg-collectibles_145 {
   background-position: -766px -934px;
}
.bg-collectibles_146 {
   background-position: -850px -934px;
}
.bg-collectibles_147 {
   background-position: -934px -934px;
}
.bg-collectibles_148 {
   background-position: -1018px -10px;
}
.bg-collectibles_149 {
   background-position: -1018px -94px;
}
.bg-collectibles_150 {
   background-position: -1018px -178px;
}
.bg-collectibles_151 {
   background-position: -1018px -262px;
}
.bg-collectibles_152 {
   background-position: -1018px -346px;
}
.bg-collectibles_153 {
   background-position: -1018px -430px;
}
.bg-collectibles_154 {
   background-position: -1018px -514px;
}
.bg-collectibles_155 {
   background-position: -1018px -598px;
}
.bg-collectibles_156 {
   background-position: -1018px -682px;
}
.bg-collectibles_157 {
   background-position: -1018px -766px;
}
.bg-collectibles_158 {
   background-position: -1018px -850px;
}
.bg-collectibles_159 {
   background-position: -1018px -934px;
}
.bg-collectibles_160 {
   background-position: -10px -1018px;
}
.bg-collectibles_161 {
   background-position: -94px -1018px;
}
.bg-collectibles_162 {
   background-position: -178px -1018px;
}
.bg-collectibles_163 {
   background-position: -262px -1018px;
}
.bg-collectibles_164 {
   background-position: -346px -1018px;
}
.bg-collectibles_165 {
   background-position: -430px -1018px;
}
.bg-collectibles_166 {
   background-position: -514px -1018px;
}
.bg-collectibles_167 {
   background-position: -598px -1018px;
}
.bg-collectibles_168 {
   background-position: -682px -1018px;
}
.bg-collectibles_169 {
   background-position: -766px -1018px;
}
.bg-collectibles_170 {
   background-position: -850px -1018px;
}
.bg-collectibles_171 {
   background-position: -934px -1018px;
}
.bg-collectibles_172 {
   background-position: -1018px -1018px;
}
.bg-collectibles_173 {
   background-position: -1102px -10px;
}
.bg-collectibles_174 {
   background-position: -1102px -94px;
}
.bg-collectibles_175 {
   background-position: -1102px -178px;
}
.bg-collectibles_176 {
   background-position: -1102px -262px;
}
.bg-collectibles_177 {
   background-position: -1102px -346px;
}
.bg-collectibles_178 {
   background-position: -1102px -430px;
}
.bg-collectibles_179 {
   background-position: -1102px -514px;
}
.bg-collectibles_180 {
   background-position: -1102px -598px;
}
.bg-collectibles_181 {
   background-position: -1102px -682px;
}
.bg-collectibles_182 {
   background-position: -1102px -766px;
}
.bg-collectibles_183 {
   background-position: -1102px -850px;
}
.bg-collectibles_184 {
   background-position: -1102px -934px;
}
.bg-collectibles_185 {
   background-position: -1102px -1018px;
}
.bg-collectibles_186 {
   background-position: -10px -1102px;
}
.bg-collectibles_187 {
   background-position: -94px -1102px;
}
.bg-collectibles_188 {
   background-position: -178px -1102px;
}
.bg-collectibles_189 {
   background-position: -262px -1102px;
}
.bg-collectibles_190 {
   background-position: -346px -1102px;
}
.bg-collectibles_191 {
   background-position: -430px -1102px;
}
.bg-collectibles_192 {
   background-position: -514px -1102px;
}
.bg-collectibles_193 {
   background-position: -598px -1102px;
}
.bg-collectibles_194 {
   background-position: -682px -1102px;
}
.bg-collectibles_195 {
   background-position: -766px -1102px;
}
.bg-collectibles_196 {
   background-position: -850px -1102px;
}
.bg-collectibles_197 {
   background-position: -934px -1102px;
}
.bg-collectibles_198 {
   background-position: -1018px -1102px;
}
.bg-collectibles_199 {
   background-position: -1102px -1102px;
}
.bg-collectibles_200 {
   background-position: -1186px -10px;
}
.bg-collectibles_201 {
   background-position: -1186px -94px;
}
.bg-collectibles_202 {
   background-position: -1186px -178px;
}
.bg-collectibles_203 {
   background-position: -1186px -262px;
}
.bg-collectibles_204 {
   background-position: -1186px -346px;
}
.bg-collectibles_205 {
   background-position: -1186px -430px;
}
.bg-collectibles_206 {
   background-position: -1186px -514px;
}
.bg-collectibles_207 {
   background-position: -1186px -598px;
}
.bg-collectibles_208 {
   background-position: -1186px -682px;
}
.bg-collectibles_209 {
   background-position: -1186px -766px;
}
.bg-collectibles_210 {
   background-position: -1186px -850px;
}
.bg-collectibles_211 {
   background-position: -1186px -934px;
}
.bg-collectibles_212 {
   background-position: -1186px -1018px;
}
.bg-collectibles_213 {
   background-position: -1186px -1102px;
}
.bg-collectibles_214 {
   background-position: -10px -1186px;
}
.bg-collectibles_215 {
   background-position: -94px -1186px;
}
.bg-collectibles_216 {
   background-position: -178px -1186px;
}
.bg-collectibles_217 {
   background-position: -262px -1186px;
}
.bg-collectibles_218 {
   background-position: -346px -1186px;
}
.bg-collectibles_219 {
   background-position: -430px -1186px;
}
.bg-collectibles_220 {
   background-position: -514px -1186px;
}
.bg-collectibles_221 {
   background-position: -598px -1186px;
}
.bg-collectibles_222 {
   background-position: -682px -1186px;
}
.bg-collectibles_223 {
   background-position: -766px -1186px;
}
.bg-collectibles_224 {
   background-position: -850px -1186px;
}
.bg-collectibles_225 {
   background-position: -934px -1186px;
}
.bg-collectibles_226 {
   background-position: -1018px -1186px;
}
.bg-collectibles_227 {
   background-position: -1102px -1186px;
}
.bg-collectibles_228 {
   background-position: -1186px -1186px;
}
.bg-collectibles_229 {
   background-position: -1270px -10px;
}
.bg-collectibles_230 {
   background-position: -1270px -94px;
}
.bg-collectibles_231 {
   background-position: -1270px -178px;
}
.bg-collectibles_232 {
   background-position: -1270px -262px;
}
.bg-collectibles_233 {
   background-position: -1270px -346px;
}
.bg-collectibles_234 {
   background-position: -1270px -430px;
}
.bg-collectibles_236 {
   background-position: -1270px -514px;
}
.bg-collectibles_237 {
   background-position: -1270px -598px;
}
.bg-collectibles_238 {
   background-position: -1270px -682px;
}
.bg-collectibles_239 {
   background-position: -1270px -766px;
}
.bg-collectibles_240 {
   background-position: -1270px -850px;
}
.bg-collectibles_241 {
   background-position: -1270px -934px;
}
.bg-collectibles_242 {
   background-position: -1270px -1018px;
}
.bg-collectibles_243 {
   background-position: -1270px -1102px;
}
.bg-collectibles_244 {
   background-position: -1270px -1186px;
}
.bg-collectibles_245 {
   background-position: -10px -1270px;
}
.bg-collectibles_246 {
   background-position: -94px -1270px;
}
.bg-collectibles_247 {
   background-position: -178px -1270px;
}
.bg-collectibles_248 {
   background-position: -262px -1270px;
}
.bg-collectibles_249 {
   background-position: -346px -1270px;
}
.bg-collectibles_250 {
   background-position: -430px -1270px;
}
.bg-collectibles_251 {
   background-position: -514px -1270px;
}
.bg-collectibles_252 {
   background-position: -598px -1270px;
}
.bg-collectibles_253 {
   background-position: -682px -1270px;
}
.bg-collectibles_254 {
   background-position: -766px -1270px;
}
.bg-collectibles_255 {
   background-position: -850px -1270px;
}
.bg-collectibles_256 {
   background-position: -934px -1270px;
}
.bg-collectibles_257 {
   background-position: -1018px -1270px;
}
.bg-collectibles_258 {
   background-position: -1102px -1270px;
}
.bg-collectibles_259 {
   background-position: -1186px -1270px;
}
.bg-collectibles_260 {
   background-position: -1270px -1270px;
}
.bg-collectibles_261 {
   background-position: -1354px -10px;
}
.bg-collectibles_262 {
   background-position: -1354px -94px;
}
.bg-collectibles_263 {
   background-position: -1354px -178px;
}
.bg-collectibles_264 {
   background-position: -1354px -262px;
}
.bg-collectibles_265 {
   background-position: -1354px -346px;
}
.bg-collectibles_266 {
   background-position: -1354px -430px;
}
.bg-collectibles_267 {
   background-position: -1354px -514px;
}
.bg-collectibles_268 {
   background-position: -1354px -598px;
}
.bg-collectibles_269 {
   background-position: -1354px -682px;
}
.bg-collectibles_270 {
   background-position: -1354px -766px;
}
.bg-collectibles_271 {
   background-position: -1354px -850px;
}
.bg-collectibles_272 {
   background-position: -1354px -934px;
}
.bg-collectibles_273 {
   background-position: -1354px -1018px;
}
.bg-collectibles_274 {
   background-position: -1354px -1102px;
}
.bg-collectibles_275 {
   background-position: -1354px -1186px;
}
.bg-collectibles_276 {
   background-position: -1354px -1270px;
}
.bg-collectibles_277 {
   background-position: -10px -1354px;
}
.bg-collectibles_278 {
   background-position: -94px -1354px;
}
.bg-collectibles_279 {
   background-position: -178px -1354px;
}
.bg-collectibles_280 {
   background-position: -262px -1354px;
}
.bg-collectibles_281 {
   background-position: -346px -1354px;
}
.bg-collectibles_282 {
   background-position: -430px -1354px;
}
.bg-collectibles_283 {
   background-position: -514px -1354px;
}
.bg-collectibles_284 {
   background-position: -598px -1354px;
}
.bg-collectibles_285 {
   background-position: -682px -1354px;
}
.bg-collectibles_286 {
   background-position: -766px -1354px;
}
.bg-collectibles_287 {
   background-position: -850px -1354px;
}
.bg-collectibles_288 {
   background-position: -934px -1354px;
}
.bg-collectibles_289 {
   background-position: -1018px -1354px;
}
.bg-collectibles_290 {
   background-position: -1102px -1354px;
}
.bg-collectibles_291 {
   background-position: -1186px -1354px;
}
.bg-collectibles_292 {
   background-position: -1270px -1354px;
}
.bg-collectibles_293 {
   background-position: -1354px -1354px;
}
.bg-collectibles_294 {
   background-position: -1438px -10px;
}
.bg-collectibles_295 {
   background-position: -1438px -94px;
}
.bg-collectibles_296 {
   background-position: -1438px -178px;
}
.bg-collectibles_297 {
   background-position: -1438px -262px;
}
.bg-collectibles_298 {
   background-position: -1438px -346px;
}
.bg-collectibles_299 {
   background-position: -1438px -430px;
}
.bg-collectibles_300 {
   background-position: -1438px -514px;
}
.bg-collectibles_301 {
   background-position: -1438px -598px;
}
.bg-collectibles_302 {
   background-position: -1438px -682px;
}
.bg-collectibles_303 {
   background-position: -1438px -766px;
}
.bg-collectibles_304 {
   background-position: -1438px -850px;
}
.bg-collectibles_305 {
   background-position: -1438px -934px;
}
.bg-collectibles_306 {
   background-position: -1438px -1018px;
}
.bg-collectibles_307 {
   background-position: -1438px -1102px;
}
.bg-collectibles_308 {
   background-position: -1438px -1186px;
}
.bg-collectibles_309 {
   background-position: -1438px -1270px;
}
.bg-collectibles_310 {
   background-position: -1438px -1354px;
}
.bg-collectibles_311 {
   background-position: -10px -1438px;
}
.bg-collectibles_312 {
   background-position: -94px -1438px;
}
.bg-collectibles_313 {
   background-position: -178px -1438px;
}
.bg-collectibles_314 {
   background-position: -262px -1438px;
}
.bg-collectibles_315 {
   background-position: -346px -1438px;
}
.bg-collectibles_316 {
   background-position: -430px -1438px;
}
.bg-collectibles_317 {
   background-position: -514px -1438px;
}
.bg-collectibles_318 {
   background-position: -598px -1438px;
}
.bg-collectibles_319 {
   background-position: -682px -1438px;
}
.bg-collectibles_320 {
   background-position: -766px -1438px;
}
.bg-collectibles_321 {
   background-position: -850px -1438px;
}
.bg-collectibles_322 {
   background-position: -934px -1438px;
}
.bg-collectibles_323 {
   background-position: -1018px -1438px;
}
.bg-collectibles_324 {
   background-position: -1102px -1438px;
}
.bg-collectibles_325 {
   background-position: -1186px -1438px;
}
.bg-collectibles_326 {
   background-position: -1270px -1438px;
}
.bg-collectibles_327 {
   background-position: -1354px -1438px;
}
.bg-collectibles_328 {
   background-position: -1438px -1438px;
}
.bg-collectibles_329 {
   background-position: -1522px -10px;
}
.bg-collectibles_330 {
   background-position: -1522px -94px;
}
.bg-collectibles_331 {
   background-position: -1522px -178px;
}
.bg-collectibles_332 {
   background-position: -1522px -262px;
}
.bg-collectibles_333 {
   background-position: -1522px -346px;
}
.bg-collectibles_334 {
   background-position: -1522px -430px;
}
.bg-collectibles_335 {
   background-position: -1522px -514px;
}
.bg-collectibles_336 {
   background-position: -1522px -598px;
}
.bg-collectibles_337 {
   background-position: -1522px -682px;
}
.bg-collectibles_338 {
   background-position: -1522px -766px;
}
.bg-collectibles_339 {
   background-position: -1522px -850px;
}
.bg-collectibles_340 {
   background-position: -1522px -934px;
}
.bg-collectibles_341 {
   background-position: -1522px -1018px;
}
.bg-collectibles_342 {
   background-position: -1522px -1102px;
}
.bg-collectibles_343 {
   background-position: -1522px -1186px;
}
.bg-collectibles_344 {
   background-position: -1522px -1270px;
}
.bg-collectibles_345 {
   background-position: -1522px -1354px;
}
.bg-collectibles_346 {
   background-position: -1522px -1438px;
}
.bg-collectibles_347 {
   background-position: -10px -1522px;
}
.bg-collectibles_348 {
   background-position: -94px -1522px;
}
.bg-collectibles_349 {
   background-position: -178px -1522px;
}
.bg-collectibles_350 {
   background-position: -262px -1522px;
}
.bg-collectibles_351 {
   background-position: -346px -1522px;
}
.bg-collectibles_352 {
   background-position: -430px -1522px;
}
.bg-collectibles_353 {
   background-position: -514px -1522px;
}
.bg-collectibles_354 {
   background-position: -598px -1522px;
}
.bg-collectibles_355 {
   background-position: -682px -1522px;
}
.bg-collectibles_356 {
   background-position: -766px -1522px;
}
.bg-collectibles_357 {
   background-position: -850px -1522px;
}
.bg-collectibles_358 {
   background-position: -934px -1522px;
}
.bg-collectibles_359 {
   background-position: -1018px -1522px;
}
.bg-collectibles_360 {
   background-position: -1102px -1522px;
}
.bg-collectibles_361 {
   background-position: -1186px -1522px;
}
.bg-collectibles_362 {
   background-position: -1270px -1522px;
}
.bg-collectibles_363 {
   background-position: -1354px -1522px;
}
.bg-collectibles_364 {
   background-position: -1438px -1522px;
}
.bg-collectibles_365 {
   background-position: -1522px -1522px;
}
.bg-collectibles_366 {
   background-position: -1606px -10px;
}
.bg-collectibles_367 {
   background-position: -1606px -94px;
}
.bg-collectibles_368 {
   background-position: -1606px -178px;
}
.bg-collectibles_369 {
   background-position: -1606px -262px;
}
.bg-collectibles_370 {
   background-position: -1606px -346px;
}
.bg-collectibles_371 {
   background-position: -1606px -430px;
}
.bg-collectibles_372 {
   background-position: -1606px -514px;
}
.bg-collectibles_373 {
   background-position: -1606px -598px;
}
.bg-collectibles_374 {
   background-position: -1606px -682px;
}
.bg-collectibles_375 {
   background-position: -1606px -766px;
}
.bg-collectibles_376 {
   background-position: -1606px -850px;
}
.bg-collectibles_377 {
   background-position: -1606px -934px;
}
.bg-collectibles_378 {
   background-position: -1606px -1018px;
}
.bg-collectibles_379 {
   background-position: -1606px -1102px;
}
.bg-collectibles_380 {
   background-position: -1606px -1186px;
}
.bg-collectibles_381 {
   background-position: -1606px -1270px;
}
.bg-collectibles_382 {
   background-position: -1606px -1354px;
}
.bg-collectibles_383 {
   background-position: -1606px -1438px;
}
.bg-collectibles_384 {
   background-position: -1606px -1522px;
}
.bg-collectibles_385 {
   background-position: -10px -1606px;
}
.bg-collectibles_386 {
   background-position: -94px -1606px;
}
.bg-collectibles_387 {
   background-position: -178px -1606px;
}
.bg-collectibles_388 {
   background-position: -262px -1606px;
}
.bg-collectibles_389 {
   background-position: -346px -1606px;
}
.bg-collectibles_390 {
   background-position: -430px -1606px;
}
.bg-collectibles_391 {
   background-position: -514px -1606px;
}
.bg-collectibles_392 {
   background-position: -598px -1606px;
}
.bg-collectibles_393 {
   background-position: -682px -1606px;
}
.bg-collectibles_394 {
   background-position: -766px -1606px;
}
.bg-collectibles_395 {
   background-position: -850px -1606px;
}
.bg-collectibles_396 {
   background-position: -934px -1606px;
}
.bg-collectibles_397 {
   background-position: -1018px -1606px;
}
.bg-collectibles_398 {
   background-position: -1102px -1606px;
}
.bg-collectibles_399 {
   background-position: -1186px -1606px;
}
.bg-collectibles_400 {
   background-position: -1270px -1606px;
}
.bg-collectibles_401 {
   background-position: -1354px -1606px;
}
.bg-collectibles_402 {
   background-position: -1438px -1606px;
}
.bg-collectibles_403 {
   background-position: -1522px -1606px;
}
.bg-collectibles_404 {
   background-position: -1606px -1606px;
}
.bg-collectibles_405 {
   background-position: -1690px -10px;
}
.bg-collectibles_406 {
   background-position: -1690px -94px;
}
.bg-collectibles_407 {
   background-position: -1690px -178px;
}
.bg-collectibles_408 {
   background-position: -1690px -262px;
}
.bg-collectibles_409 {
   background-position: -1690px -346px;
}
.bg-collectibles_410 {
   background-position: -1690px -430px;
}
.bg-collectibles_411 {
   background-position: -1690px -514px;
}
.bg-collectibles_412 {
   background-position: -1690px -598px;
}
.bg-collectibles_413 {
   background-position: -1690px -682px;
}
.bg-collectibles_414 {
   background-position: -1690px -766px;
}
.bg-collectibles_415 {
   background-position: -1690px -850px;
}
.bg-collectibles_416 {
   background-position: -1690px -934px;
}
.bg-collectibles_417 {
   background-position: -1690px -1018px;
}
.bg-collectibles_418 {
   background-position: -1690px -1102px;
}
.bg-collectibles_419 {
   background-position: -1690px -1186px;
}
.bg-collectibles_420 {
   background-position: -1690px -1270px;
}
.bg-collectibles_421 {
   background-position: -1690px -1354px;
}
.bg-collectibles_422 {
   background-position: -1690px -1438px;
}
.bg-collectibles_423 {
   background-position: -1690px -1522px;
}
.bg-collectibles_424 {
   background-position: -1690px -1606px;
}
.bg-collectibles_425 {
   background-position: -10px -1690px;
}
.bg-collectibles_426 {
   background-position: -94px -1690px;
}
.bg-collectibles_427 {
   background-position: -178px -1690px;
}
.bg-collectibles_428 {
   background-position: -262px -1690px;
}
.bg-collectibles_429 {
   background-position: -346px -1690px;
}
.bg-collectibles_430 {
   background-position: -430px -1690px;
}
.bg-collectibles_431 {
   background-position: -514px -1690px;
}
.bg-collectibles_432 {
   background-position: -598px -1690px;
}
.bg-collectibles_433 {
   background-position: -682px -1690px;
}
.bg-collectibles_434 {
   background-position: -766px -1690px;
}
.bg-collectibles_435 {
   background-position: -850px -1690px;
}
.bg-collectibles_436 {
   background-position: -934px -1690px;
}
.bg-collectibles_437 {
   background-position: -1018px -1690px;
}
.bg-collectibles_438 {
   background-position: -1102px -1690px;
}
.bg-collectibles_439 {
   background-position: -1186px -1690px;
}
.bg-collectibles_440 {
   background-position: -1270px -1690px;
}
.bg-collectibles_441 {
   background-position: -1354px -1690px;
}
.bg-collectibles_442 {
   background-position: -1438px -1690px;
}
.bg-collectibles_443 {
   background-position: -1522px -1690px;
}
.bg-collectibles_444 {
   background-position: -1606px -1690px;
}
.bg-collectibles_445 {
   background-position: -1690px -1690px;
}
.bg-collectibles_446 {
   background-position: -1774px -10px;
}
.bg-collectibles_447 {
   background-position: -1774px -94px;
}
.bg-collectibles_448 {
   background-position: -1774px -178px;
}
.bg-collectibles_449 {
   background-position: -1774px -262px;
}
.bg-collectibles_450 {
   background-position: -1774px -346px;
}
.bg-collectibles_451 {
   background-position: -1774px -430px;
}
.bg-collectibles_452 {
   background-position: -1774px -514px;
}
.bg-collectibles_453 {
   background-position: -1774px -598px;
}
.bg-collectibles_454 {
   background-position: -1774px -682px;
}
.bg-collectibles_455 {
   background-position: -1774px -766px;
}
.bg-collectibles_456 {
   background-position: -1774px -850px;
}
.bg-collectibles_457 {
   background-position: -1774px -934px;
}
.bg-collectibles_458 {
   background-position: -1774px -1018px;
}
.bg-collectibles_459 {
   background-position: -1774px -1102px;
}
.bg-collectibles_460 {
   background-position: -1774px -1186px;
}
.bg-collectibles_461 {
   background-position: -1774px -1270px;
}
.bg-collectibles_462 {
   background-position: -1774px -1354px;
}
.bg-collectibles_463 {
   background-position: -1774px -1438px;
}
.bg-collectibles_464 {
   background-position: -1774px -1522px;
}
.bg-collectibles_465 {
   background-position: -1774px -1606px;
}
.bg-collectibles_466 {
   background-position: -1774px -1690px;
}
.bg-collectibles_467 {
   background-position: -10px -1774px;
}
.bg-collectibles_468 {
   background-position: -94px -1774px;
}
.bg-collectibles_469 {
   background-position: -178px -1774px;
}
.bg-collectibles_470 {
   background-position: -262px -1774px;
}
.bg-collectibles_471 {
   background-position: -346px -1774px;
}
.bg-collectibles_472 {
   background-position: -430px -1774px;
}
.bg-collectibles_473 {
   background-position: -514px -1774px;
}
.bg-collectibles_474 {
   background-position: -598px -1774px;
}
.bg-collectibles_475 {
   background-position: -682px -1774px;
}
.bg-collectibles_476 {
   background-position: -766px -1774px;
}
.bg-collectibles_477 {
   background-position: -850px -1774px;
}
.bg-collectibles_478 {
   background-position: -934px -1774px;
}
.bg-collectibles_479 {
   background-position: -1018px -1774px;
}
.bg-collectibles_480 {
   background-position: -1102px -1774px;
}
.bg-collectibles_481 {
   background-position: -1186px -1774px;
}
.bg-collectibles_482 {
   background-position: -1270px -1774px;
}
.bg-collectibles_483 {
   background-position: -1354px -1774px;
}
.bg-collectibles_484 {
   background-position: -1438px -1774px;
}
.bg-collectibles_485 {
   background-position: -1522px -1774px;
}
.bg-collectibles_486 {
   background-position: -1606px -1774px;
}
.bg-collectibles_487 {
   background-position: -1690px -1774px;
}
.bg-collectibles_488 {
   background-position: -1774px -1774px;
}
.bg-collectibles_489 {
   background-position: -1858px -10px;
}
.bg-collectibles_490 {
   background-position: -1858px -94px;
}
.bg-collectibles_491 {
   background-position: -1858px -178px;
}
.bg-collectibles_492 {
   background-position: -1858px -262px;
}
.bg-collectibles_493 {
   background-position: -1858px -346px;
}
.bg-collectibles_494 {
   background-position: -1858px -430px;
}
.bg-collectibles_495 {
   background-position: -1858px -514px;
}
.bg-collectibles_496 {
   background-position: -1858px -598px;
}
.bg-collectibles_497 {
   background-position: -1858px -682px;
}
.bg-collectibles_498 {
   background-position: -1858px -766px;
}
.bg-collectibles_499 {
   background-position: -1858px -850px;
}
.bg-collectibles_500 {
   background-position: -1858px -934px;
}
.bg-collectibles_501 {
   background-position: -1858px -1018px;
}
.bg-collectibles_502 {
   background-position: -1858px -1102px;
}
.bg-collectibles_503 {
   background-position: -1858px -1186px;
}
.bg-collectibles_504 {
   background-position: -1858px -1270px;
}
.bg-collectibles_505 {
   background-position: -1858px -1354px;
}
.bg-collectibles_506 {
   background-position: -1858px -1438px;
}
.bg-collectibles_507 {
   background-position: -1858px -1522px;
}
.bg-collectibles_508 {
   background-position: -1858px -1606px;
}
.bg-collectibles_509 {
   background-position: -1858px -1690px;
}
.bg-collectibles_510 {
   background-position: -1858px -1774px;
}
.bg-collectibles_511 {
   background-position: -10px -1858px;
}
.bg-collectibles_512 {
   background-position: -94px -1858px;
}
.bg-collectibles_513 {
   background-position: -178px -1858px;
}
.bg-collectibles_514 {
   background-position: -262px -1858px;
}
.bg-collectibles_515 {
   background-position: -346px -1858px;
}
.bg-collectibles_516 {
   background-position: -430px -1858px;
}
.bg-collectibles_517 {
   background-position: -514px -1858px;
}
.bg-collectibles_518 {
   background-position: -598px -1858px;
}
.bg-collectibles_519 {
   background-position: -682px -1858px;
}
.bg-collectibles_520 {
   background-position: -766px -1858px;
}
.bg-collectibles_521 {
   background-position: -850px -1858px;
}
.bg-collectibles_522 {
   background-position: -934px -1858px;
}
.bg-collectibles_523 {
   background-position: -1018px -1858px;
}
.bg-collectibles_524 {
   background-position: -1102px -1858px;
}
.bg-collectibles_525 {
   background-position: -1186px -1858px;
}
.bg-collectibles_526 {
   background-position: -1270px -1858px;
}
.bg-collectibles_527 {
   background-position: -1354px -1858px;
}
.bg-collectibles_528 {
   background-position: -1438px -1858px;
}
.bg-collectibles_529 {
   background-position: -1522px -1858px;
}
.bg-collectibles_530 {
   background-position: -1606px -1858px;
}
.bg-collectibles_531 {
   background-position: -1690px -1858px;
}
.bg-collectibles_532 {
   background-position: -1774px -1858px;
}
.bg-collectibles_533 {
   background-position: -1858px -1858px;
}
.bg-collectibles_534 {
   background-position: -1942px -10px;
}
.bg-collectibles_535 {
   background-position: -1942px -94px;
}
.bg-collectibles_536 {
   background-position: -1942px -178px;
}
.bg-collectibles_537 {
   background-position: -1942px -262px;
}
.bg-collectibles_538 {
   background-position: -1942px -346px;
}
.bg-collectibles_539 {
   background-position: -1942px -430px;
}
.bg-collectibles_540 {
   background-position: -1942px -514px;
}
.bg-collectibles_541 {
   background-position: -1942px -598px;
}
.bg-collectibles_542 {
   background-position: -1942px -682px;
}
.bg-collectibles_543 {
   background-position: -1942px -766px;
}
.bg-collectibles_544 {
   background-position: -1942px -850px;
}
.bg-collectibles_545 {
   background-position: -1942px -934px;
}
.bg-collectibles_546 {
   background-position: -1942px -1018px;
}
.bg-collectibles_547 {
   background-position: -1942px -1102px;
}
.bg-collectibles_548 {
   background-position: -1942px -1186px;
}
.bg-collectibles_549 {
   background-position: -1942px -1270px;
}
.bg-collectibles_550 {
   background-position: -1942px -1354px;
}
.bg-collectibles_551 {
   background-position: -1942px -1438px;
}
.bg-collectibles_552 {
   background-position: -1942px -1522px;
}
.bg-collectibles_553 {
   background-position: -1942px -1606px;
}
.bg-collectibles_554 {
   background-position: -1942px -1690px;
}
.bg-collectibles_555 {
   background-position: -1942px -1774px;
}
.bg-collectibles_556 {
   background-position: -1942px -1858px;
}
.bg-collectibles_557 {
   background-position: -10px -1942px;
}
.bg-collectibles_558 {
   background-position: -94px -1942px;
}
.bg-collectibles_559 {
   background-position: -178px -1942px;
}
.bg-collectibles_560 {
   background-position: -262px -1942px;
}
.bg-collectibles_561 {
   background-position: -346px -1942px;
}
.bg-collectibles_562 {
   background-position: -430px -1942px;
}
.bg-collectibles_563 {
   background-position: -514px -1942px;
}
.bg-collectibles_564 {
   background-position: -598px -1942px;
}
.bg-collectibles_565 {
   background-position: -682px -1942px;
}
.bg-collectibles_566 {
   background-position: -766px -1942px;
}
.bg-collectibles_567 {
   background-position: -850px -1942px;
}
.bg-collectibles_568 {
   background-position: -934px -1942px;
}
.bg-collectibles_569 {
   background-position: -1018px -1942px;
}
.bg-collectibles_570 {
   background-position: -1102px -1942px;
}
.bg-collectibles_571 {
   background-position: -1186px -1942px;
}
.bg-collectibles_572 {
   background-position: -1270px -1942px;
}
.bg-collectibles_573 {
   background-position: -1354px -1942px;
}
.bg-collectibles_574 {
   background-position: -1438px -1942px;
}
.bg-collectibles_575 {
   background-position: -1522px -1942px;
}
.bg-collectibles_576 {
   background-position: -1606px -1942px;
}
.bg-collectibles_577 {
   background-position: -1690px -1942px;
}
.bg-collectibles_578 {
   background-position: -1774px -1942px;
}
.bg-collectibles_579 {
   background-position: -1858px -1942px;
}
.bg-collectibles_580 {
   background-position: -1942px -1942px;
}
.bg-collectibles_581 {
   background-position: -2026px -10px;
}
.bg-collectibles_582 {
   background-position: -2026px -94px;
}
.bg-collectibles_583 {
   background-position: -2026px -178px;
}
.bg-collectibles_584 {
   background-position: -2026px -262px;
}
.bg-collectibles_585 {
   background-position: -2026px -346px;
}
.bg-collectibles_586 {
   background-position: -2026px -430px;
}
.bg-collectibles_588 {
   background-position: -2026px -514px;
}
.bg-collectibles_589 {
   background-position: -2026px -598px;
}
.bg-collectibles_590 {
   background-position: -2026px -682px;
}
.bg-collectibles_591 {
   background-position: -2026px -766px;
}
.bg-collectibles_592 {
   background-position: -2026px -850px;
}
.bg-collectibles_593 {
   background-position: -2026px -934px;
}
.bg-collectibles_594 {
   background-position: -2026px -1018px;
}
.bg-collectibles_595 {
   background-position: -2026px -1102px;
}
.bg-collectibles_596 {
   background-position: -2026px -1186px;
}
.bg-collectibles_597 {
   background-position: -2026px -1270px;
}
.bg-collectibles_598 {
   background-position: -2026px -1354px;
}
.bg-collectibles_599 {
   background-position: -2026px -1438px;
}
.bg-collectibles_600 {
   background-position: -2026px -1522px;
}
.bg-collectibles_601 {
   background-position: -2026px -1606px;
}
.bg-collectibles_602 {
   background-position: -2026px -1690px;
}
.bg-collectibles_603 {
   background-position: -2026px -1774px;
}
.bg-collectibles_604 {
   background-position: -2026px -1858px;
}
.bg-collectibles_605 {
   background-position: -2026px -1942px;
}
.bg-collectibles_606 {
   background-position: -10px -2026px;
}
.bg-collectibles_607 {
   background-position: -94px -2026px;
}
.bg-collectibles_608 {
   background-position: -178px -2026px;
}
.bg-collectibles_609 {
   background-position: -262px -2026px;
}
.bg-collectibles_610 {
   background-position: -346px -2026px;
}
.bg-collectibles_611 {
   background-position: -430px -2026px;
}
.bg-collectibles_612 {
   background-position: -514px -2026px;
}
.bg-collectibles_614 {
   background-position: -598px -2026px;
}
.bg-collectibles_615 {
   background-position: -682px -2026px;
}
.bg-collectibles_616 {
   background-position: -766px -2026px;
}
.bg-collectibles_617 {
   background-position: -850px -2026px;
}
.bg-collectibles_618 {
   background-position: -934px -2026px;
}
.bg-collectibles_619 {
   background-position: -1018px -2026px;
}
.bg-collectibles_621 {
   background-position: -1102px -2026px;
}
.bg-collectibles_622 {
   background-position: -1186px -2026px;
}
.bg-collectibles_623 {
   background-position: -1270px -2026px;
}
.bg-collectibles_624 {
   background-position: -1354px -2026px;
}
.bg-collectibles_625 {
   background-position: -1438px -2026px;
}
.bg-collectibles_626 {
   background-position: -1522px -2026px;
}
.bg-collectibles_627 {
   background-position: -1606px -2026px;
}
.bg-collectibles_628 {
   background-position: -1690px -2026px;
}
.bg-collectibles_629 {
   background-position: -1774px -2026px;
}
.bg-collectibles_631 {
   background-position: -1858px -2026px;
}
.bg-collectibles_632 {
   background-position: -1942px -2026px;
}
.bg-collectibles_633 {
   background-position: -2026px -2026px;
}
.bg-collectibles_634 {
   background-position: -2110px -10px;
}
.bg-collectibles_635 {
   background-position: -2110px -94px;
}
.bg-collectibles_636 {
   background-position: -2110px -178px;
}
.bg-collectibles_637 {
   background-position: -2110px -262px;
}
.bg-collectibles_638 {
   background-position: -2110px -346px;
}
.bg-collectibles_639 {
   background-position: -2110px -430px;
}
.bg-collectibles_640 {
   background-position: -2110px -514px;
}
.bg-collectibles_641 {
   background-position: -2110px -598px;
}
.bg-collectibles_642 {
   background-position: -2110px -682px;
}
.bg-collectibles_643 {
   background-position: -2110px -766px;
}
.bg-collectibles_644 {
   background-position: -2110px -850px;
}
.bg-collectibles_645 {
   background-position: -2110px -934px;
}
.bg-collectibles_646 {
   background-position: -2110px -1018px;
}
.bg-collectibles_647 {
   background-position: -2110px -1102px;
}
.bg-collectibles_649 {
   background-position: -2110px -1186px;
}
.bg-collectibles_650 {
   background-position: -2110px -1270px;
}
.bg-collectibles_651 {
   background-position: -2110px -1354px;
}
.bg-collectibles_652 {
   background-position: -2110px -1438px;
}
.bg-collectibles_653 {
   background-position: -2110px -1522px;
}
.bg-collectibles_654 {
   background-position: -2110px -1606px;
}
.bg-collectibles_655 {
   background-position: -2110px -1690px;
}
.bg-collectibles_656 {
   background-position: -2110px -1774px;
}
.bg-collectibles_657 {
   background-position: -2110px -1858px;
}
.bg-collectibles_658 {
   background-position: -2110px -1942px;
}
.bg-collectibles_659 {
   background-position: -2110px -2026px;
}
.bg-collectibles_660 {
   background-position: -10px -2110px;
}
.bg-collectibles_661 {
   background-position: -94px -2110px;
}
.bg-collectibles_662 {
   background-position: -178px -2110px;
}
.bg-collectibles_663 {
   background-position: -262px -2110px;
}
.bg-collectibles_664 {
   background-position: -346px -2110px;
}
.bg-collectibles_665 {
   background-position: -430px -2110px;
}
.bg-collectibles_667 {
   background-position: -514px -2110px;
}
.bg-collectibles_668 {
   background-position: -598px -2110px;
}
.bg-collectibles_669 {
   background-position: -682px -2110px;
}
.bg-collectibles_670 {
   background-position: -766px -2110px;
}
.bg-collectibles_671 {
   background-position: -850px -2110px;
}
.bg-collectibles_672 {
   background-position: -934px -2110px;
}
.bg-collectibles_673 {
   background-position: -1018px -2110px;
}
.bg-collectibles_674 {
   background-position: -1102px -2110px;
}
.bg-collectibles_675 {
   background-position: -1186px -2110px;
}
.bg-collectibles_676 {
   background-position: -1270px -2110px;
}
.bg-collectibles_677 {
   background-position: -1354px -2110px;
}
.bg-collectibles_678 {
   background-position: -1438px -2110px;
}
.bg-collectibles_679 {
   background-position: -1522px -2110px;
}
.bg-collectibles_680 {
   background-position: -1606px -2110px;
}
.bg-collectibles_681 {
   background-position: -1690px -2110px;
}
.bg-collectibles_682 {
   background-position: -1774px -2110px;
}
.bg-collectibles_683 {
   background-position: -1858px -2110px;
}
.bg-collectibles_684 {
   background-position: -1942px -2110px;
}
.bg-collectibles_685 {
   background-position: -2026px -2110px;
}
.bg-collectibles_686 {
   background-position: -2110px -2110px;
}
.bg-collectibles_687 {
   background-position: -2194px -10px;
}
.bg-collectibles_688 {
   background-position: -2194px -94px;
}
.bg-collectibles_689 {
   background-position: -2194px -178px;
}
.bg-collectibles_690 {
   background-position: -2194px -262px;
}
.bg-collectibles_691 {
   background-position: -2194px -346px;
}
.bg-collectibles_692 {
   background-position: -2194px -430px;
}
.bg-collectibles_693 {
   background-position: -2194px -514px;
}
.bg-collectibles_694 {
   background-position: -2194px -598px;
}
.bg-collectibles_695 {
   background-position: -2194px -682px;
}
.bg-collectibles_696 {
   background-position: -2194px -766px;
}
.bg-collectibles_697 {
   background-position: -2194px -850px;
}
.bg-collectibles_698 {
   background-position: -2194px -934px;
}
.bg-collectibles_699 {
   background-position: -2194px -1018px;
}
.bg-collectibles_700 {
   background-position: -2194px -1102px;
}
.bg-collectibles_701 {
   background-position: -2194px -1186px;
}
.bg-collectibles_702 {
   background-position: -2194px -1270px;
}
.bg-collectibles_703 {
   background-position: -2194px -1354px;
}
.bg-collectibles_704 {
   background-position: -2194px -1438px;
}
.bg-collectibles_705 {
   background-position: -2194px -1522px;
}
.bg-collectibles_706 {
   background-position: -2194px -1606px;
}
.bg-collectibles_707 {
   background-position: -2194px -1690px;
}
.bg-collectibles_708 {
   background-position: -2194px -1774px;
}
.bg-collectibles_709 {
   background-position: -2194px -1858px;
}
.bg-collectibles_710 {
   background-position: -2194px -1942px;
}
.bg-collectibles_711 {
   background-position: -2194px -2026px;
}
.bg-collectibles_712 {
   background-position: -2194px -2110px;
}
.bg-collectibles_713 {
   background-position: -10px -2194px;
}
.bg-collectibles_714 {
   background-position: -94px -2194px;
}
.bg-collectibles_715 {
   background-position: -178px -2194px;
}
.bg-collectibles_716 {
   background-position: -262px -2194px;
}
.bg-collectibles_717 {
   background-position: -346px -2194px;
}
.bg-collectibles_718 {
   background-position: -430px -2194px;
}
.bg-collectibles_719 {
   background-position: -514px -2194px;
}
.bg-collectibles_720 {
   background-position: -598px -2194px;
}
.bg-collectibles_721 {
   background-position: -682px -2194px;
}
.bg-collectibles_722 {
   background-position: -766px -2194px;
}
.bg-collectibles_723 {
   background-position: -850px -2194px;
}
.bg-collectibles_724 {
   background-position: -934px -2194px;
}
.bg-collectibles_725 {
   background-position: -1018px -2194px;
}
.bg-collectibles_726 {
   background-position: -1102px -2194px;
}
.bg-collectibles_727 {
   background-position: -1186px -2194px;
}
.bg-collectibles_728 {
   background-position: -1270px -2194px;
}
.bg-collectibles_729 {
   background-position: -1354px -2194px;
}