.bg-pickup{
    background-image: url('https://lucas.cool/taintedcain/css_pickups-min.png');
}

.bg-pickup-1 {
    width: 16px; height: 13px;
    background-position: -165px -44px;
}

.bg-pickup-2 {
    width: 16px; height: 13px;
    background-position: -165px -77px;
}

.bg-pickup-3 {
    width: 16px; height: 13px;
    background-position: -165px -110px;
}

.bg-pickup-4 {
    width: 16px; height: 14px;
    background-position: -165px -10px;
}

.bg-pickup-5 {
    width: 16px; height: 13px;
    background-position: -86px -130px;
}

.bg-pickup-6 {
    width: 16px; height: 13px;
    background-position: -122px -130px;
}

.bg-pickup-7 {
    width: 16px; height: 13px;
    background-position: -10px -163px;
}

.bg-pickup-8 {
    width: 18px; height: 13px;
    background-position: -49px -51px;
}

.bg-pickup-9 {
    width: 18px; height: 13px;
    background-position: -87px -51px;
}

.bg-pickup-10 {
    width: 18px; height: 13px;
    background-position: -10px -130px;
}

.bg-pickup-11 {
    width: 18px; height: 13px;
    background-position: -48px -130px;
}

.bg-pickup-12 {
    width: 14px; height: 20px;
    background-position: -81px -90px;
}

.bg-pickup-13 {
    width: 14px; height: 20px;
    background-position: -131px -10px;
}

.bg-pickup-14 {
    width: 16px; height: 20px;
    background-position: -10px -90px;
}

.bg-pickup-15 {
    width: 20px; height: 21px;
    background-position: -51px -10px;
}

.bg-pickup-16 {
    width: 20px; height: 21px;
    background-position: -91px -10px;
}

.bg-pickup-18 {
    width: 12px; height: 14px;
    background-position: -131px -87px;
}

.bg-pickup-19 {
    width: 14px; height: 17px;
    background-position: -131px -50px;
}

.bg-pickup-21 {
    width: 21px; height: 21px;
    background-position: -10px -10px;
}

.bg-pickup-22 {
    width: 19px; height: 19px;
    background-position: -10px -51px;
}

.bg-pickup-23 {
    width: 15px; height: 20px;
    background-position: -46px -90px;
}